click==7.1.2
fastapi==0.61.2
h11==0.11.0
motor==2.3.0
odmantic==0.3.0
pydantic==1.7.2
pymongo==3.11.0
starlette==0.13.6
uvicorn==0.12.2
click==7.1.2
fastapi==0.61.2
h11==0.11.0
motor==2.3.0
multipart==0.2.2
odmantic==0.3.0
pydantic==1.7.2
pymongo==3.11.0
starlette==0.13.6
uvicorn==0.12.2
aiofiles==0.6.0
click==7.1.2
fastapi==0.61.2
h11==0.11.0
Jinja2==2.11.2
MarkupSafe==1.1.1
motor==2.3.0
multipart==0.2.2
odmantic==0.3.0
pydantic==1.7.2
pymongo==3.11.0
starlette==0.13.6
uvicorn==0.12.2
aiofiles==0.6.0
aniso8601==7.0.0
click==7.1.2
fastapi==0.61.2
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
h11==0.11.0
Jinja2==2.11.2
MarkupSafe==1.1.1
motor==2.3.0
multipart==0.2.2
odmantic==0.3.0
promise==2.3
pydantic==1.7.2
pymongo==3.11.0
Rx==1.6.1
six==1.15.0
starlette==0.13.6
uvicorn==0.12.2
dnspython
