{% extends "layout.html" %}

<!-- START LEFT CONTENT -->
{% block logo %}<h1>Logo</h1>{% endblock %}
{% block left %}<p>Content Left</p>{% endblock %}
{% block left-footer %}<p>Footer Left</p>{% endblock %}
<!-- END LEFT CONTENT -->

<!-- START CENTER CONTENT -->
{% block title %}{% endblock %}
{% block content %}{% endblock %}
{% block main-footer %}{% endblock %}
<!-- END CENTER CONTENT -->

<!-- START RIGHT CONTENT -->
{% block menu %}{% endblock %}
{% block aside %}{% endblock %}
{% block right-footer %}{% endblock %}
<!-- END RIGHT CONTENT -->