<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hugs</title>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href="html/assets/css/main.css" rel="stylesheet">
        <script src="html/assets/js/main.js"></script>
    </head>
    <body>
        <div id='grid'>

            <!-- START LEFT CONTENT -->
            <div class="toolbar header start">
                {% block logo %}{% endblock %}
            </div>
            <div class="panel middle start scroll">
                {% block left %}{% endblock %}
            </div>
            <div class="toolbar footer start">
                {% block left-footer %}{% endblock %}
            </div>
            <!-- END LEFT CONTENT -->

            <!-- START CENTER CONTENT -->
            <div class="toolbar header center">
                {% block title %}{% endblock %}
            </div>
            <div class="content middle center">
                {% block content %}{% endblock %}
            </div>
            <div class="toolbar footer center">
                <button id="toggle-left"> &lt;</button>
                <span class='spacer'>
                {% block main-footer %}{% endblock %}
                </span>
                <button id="toggle-right"> &gt;</button>
            </div>
            <!-- END CENTER CONTENT -->
    
            <!-- START RIGHT SIDE CONTENT -->
            <div class="toolbar header end">
                {% block menu %}{% endblock %}
            </div>
            <div class="panel middle end scroll">
                {% block aside %}{% endblock %}
            </div>
            <div class="toolbar footer end">
            {% block right-footer %}{% endblock %}
            </div>
            <!-- END RIGHT SIDE CONTENT -->
        </div>
    
    </body>
</html>