{% extends "layout.html" %}

{% block main %}
<div class="card">
    <h1>Hugs</h1>

<h1><a href="/docs/">See the Hugs docs</a></h1>
<h1><a href="/redoc/">Alternative Hugs Docs here</a></h1>   


</div>
<div class="card">
    <h1>Main Card 2</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus alias placeat impedit corporis
        dolores nam id necessitatibus nesciunt minima ex! Rerum inventore delectus nesciunt voluptate
        similique modi? Mollitia, et explicabo!.</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis labore autem, fugit enim
        voluptatibus sequi. Numquam illo sunt dolore. Magni minus, iure reprehenderit laborum dolore
        necessitatibus eos quae architecto!
    </p>
</div>
{% endblock %}


{% block side %}
<div class="card green">
    <h1>Info Box</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui a ullam laudantium, culpa alias
        obcaecati asperiores dolor autem minus dolorum quos totam, sunt at saepe tempora facere dolorem
        deserunt ea?</p>
</div>
<div class="card red">
    <h1>Info Box</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui a ullam laudantium, culpa alias
        obcaecati asperiores dolor autem minus dolorum quos totam, sunt at saepe tempora facere dolorem
        deserunt ea?</p>
</div>
<div class="card blue">
    <h1>Info Box</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui a ullam laudantium, culpa alias
        obcaecati asperiores dolor autem minus dolorum quos totam, sunt at saepe tempora facere dolorem
        deserunt ea?</p>
</div>
{% endblock %}