<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">

</head>

<body>
    <div class="grid-container">
        <div class="h">
            <div class="lo"><img class="logoimg" src="{{ url_for ('static', path='img/boy_moon Mask.svg') }}"></div>
            <div class="bra">
                <h1>Moon Hugs</h1>
            </div>

            <div class="men">
                <ul>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a class="active" href="#home">Home</a></li>
                </ul>
            </div>

        </div>

        <div class="b parallax"></div>
        <div class="m">
            {% block main %}

            {% endblock %}
        </div>
        <div class="s">
            {% block side %}

            {% endblock %}
        </div>
        <div class="f parallax">
            <div class="card footer">
                <header class="major">
                    <h3>About</h3>
                </header>

            </div>
        </div>
    </div>

</body>

</html>